body {
  background-color: black;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    background-color: black;
    color: white;
}
table {
    width: 100%;
    margin-bottom: 15px;
    table-layout: fixed;
    background-color: black;
    color: white;
}
div {
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
}